* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
                url("bg.jpeg");
    background-size: cover;
    background-position: center;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgba(0,0,0,0.6);
}

.logo {
    color: #ff7200;
    font-size: 28px;
}

.navbar ul {
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(184, 10, 10);
    font-weight: bold;
    transition: 0.3s;
}

.navbar ul li a:hover {
    color: #ff7200;
}

/* SEARCH */
.search input {
    padding: 6px;
    border: none;
    border-radius: 4px;
}

.search button {
    padding: 6px 10px;
    border: none;
    background: #ff7200;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 45px;
}

.hero span {
    color: #ff7200;
}

.hero p {
    margin-top: 20px;
    line-height: 1.6;
}

.buttons button {
    margin: 15px;
    padding: 10px 20px;
    border: none;
    background: #ff7200;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.buttons button:hover {
    background: white;
    color: #ff7200;
}

/* STUDENTS SECTION */
.students {
    padding: 50px 20px;
    text-align: center;
}

.students h2 {
    margin-bottom: 30px;
    font-size: 28px;
}

/* GRID */
.student-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

/* CARD */
.student {
    background: rgb(230, 230, 230);
    color: black;
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
}

/* HOVER EFFECT 🔥 */
.student:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

/* IMAGE */
.student img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}